 <md-content class="md-padding fade">     
    <div layout="col" layout-align="center" layout-wrap layout-padding>  
        <div  class="parent" layout="column">
            
             <h1 class="md-title">Erro 404</h1>
             
             <md-divider></md-divider>  
             
             <p>
                    Esta página não pode ser exibida!
                    <br>
                    Talvez essa página não foi encontrada.
                    <br> 
                    Verifique se o endereço está digitado corretamente.
            </p>
                    
                <md-button ng-href="/">
                <md-icon md-svg-icon="assets/img/material/content/svg/production/ic_undo_48px.svg"></md-icon>
                      Voltar ao ínicio
            </md-button>
               
                
             
             
        </div>
    </div>
 </md-content>   

<!--
<div class="container" id="error-page">
    <div class="hero-unit">
        <h1 class="animated tada">
            <i class="icon-remove-circle branded"></i> 
            404
        </h1>
        <p>
            Página não encontrada
            <br>
            <a href="/">Clique aqui para voltar ao inicio</a>
        </p>
    </div>
</div>
-->