
<div class="container main" ng-init="pagination.init()">
    <div class="row-fluid" >
		<h3>Central de Imagens</h3>
        <hr>          
            <table>
                <tr>
                    <td>
                        Mostrar:
                    </td>   
                    <td>
                        <select ng-model="pagination.totalPerPage">
                            <option value="5">5</option>        
                            <option value="10">10</option>
                        </select>
                    </td>  
               
                    <td>
                        Pasta:
                    </td>   
                    <td>
                        <select id="parameterSelect" ng-model="folder" required>
                            <option value="0">Selecione</option>
                            <option ng-repeat="typeParameter in listFolder" value="{{typeParameter.id}}">
                                {{typeParameter.name}}
                            </option>							
                        </select>
                    </td>  
                                  
                    <td colspan="2" align="right">
                         <button ng-click="pagination.refresh()" class="btn btn-default">Atualizar</button>
                    </td>
                </tr>
                
            </table>            
            
            <hr>
            
            <div ng-if="folder == 0">
                <div class="alert alert-block alert-info animated fadeInDown">
                    Para listar as imagens é necessário que escolha uma pasta
                </div>
            </div>
                    
            <center ng-if="folder != 0">
                    <img ng-repeat="image in listImage" style="width: 200px; height: 150px; padding: 2px; border: 1px solid #666;" 
                    src="data:image/png;base64,{{image[5]}}" title="{{image[1]}}" ng-click="selectImage(this)">
            </center>          
                
            <br>
            
            <button ng-click="pagination.first()" class="btn btn-default">Primeiro</button>     
            <button ng-click="pagination.previous()" class="btn btn-default">Anterior</button>
            <button ng-click="pagination.next()" class="btn btn-default">Próximo</button>
            <button ng-click="pagination.last()" class="btn btn-default">Último</button> 
            
            <br><br>
            
            <span>
                <b>Página Atual:</b> {{ pagination.currentPage }}
            </span> <br>
            <span>
                <b>T. Página:</b> {{ pagination.totalPage }}
            </span> <br>
            <span>
                <b>T. Registros:</b> {{ pagination.totalRegister }}
            </span><br>		
            <span>
                <b>T. por Página:</b> {{ pagination.totalPerPage }}
            </span><br>	
            <span>
                <b>Registro: </b> {{ pagination.dataInit }} <b> - </b> {{ pagination.dataEnd }}
            </span>
            <br>
            <br>
    </div>
</div>