 <md-content class="md-padding">     
    <div layout="col" layout-align="center" layout-wrap layout-padding>  
        <div  class="parent" layout="column">
            
             <h3 class="md-title">Sobre</h3>
             
             <md-divider></md-divider>        
         
             <p>
                 A Excript nasceu de um amante de videoaulas e que tem como hobby assistir e agora, 
		também produzir materiais didáticos. 		
		<br>
		Não somos uma escola, empresa, comércio, ONG, e muito menos uma instituição 
		filantrópica. Somos apenas uma ideia em processo de materialização.
		<br>
		Todos os vídeos produzidos pela eXcript são gratuitos e não há planos para um dia tornar o projeto em um comércio. 
		<br>
		No entanto, buscamos, ainda que timidamente, obter recursos financeiros com o material produzido. 
		<br>
		Porém, o princípio-mor é transmitir 
		conhecimento no formato audiovisual, logo, o financeiro deverá se adaptar ao modelo pré-estabelecido, jamais o contrário.
		 <br>
		Se for necessário rechear as aulas com publicidade,
		provavelmente o projeto encerrará suas atividades, até porque, o princípio pétreo terá sido violado.
		 <br>
		Em 2015 nos juntamos com o blog Java Aberto, e agora somos um só, transmitindo todo o conhecimento de maneira simples
		e dinâmica.
		
		<br><br>
		<h1>Time</h1>
		<hr>
		 Hoje somos um time, integrado por:
		 <br>
		 <br>
		 Fundadores
		 <br>
		 <ul>
			 <li>Claúdio Carvalho</li>
			 <li>Charleston Anjos</li>
		 </ul> 
		 
		 Colaboradores
		 <br>
		 <ul>
			 <li>Beatriz Rodrigues</li>
			 <li>Victor Seixas</li>			 
		 </ul> 
         </p>
             
           
                          
           
        </div>
    </div>    
</md-content>

<!--
<div class="container main">
    <div class="row-fluid" >
        <div class="main-section span12">
			
			
			
		<h1>Sobre</h1>
		<hr>
		A Excript nasceu de um amante de videoaulas e que tem como hobby assistir e agora, 
		também produzir materiais didáticos. 		
		<br>
		Não somos uma escola, empresa, comércio, ONG, e muito menos uma instituição 
		filantrópica. Somos apenas uma ideia em processo de materialização.
		<br>
		Todos os vídeos produzidos pela eXcript são gratuitos e não há planos para um dia tornar o projeto em um comércio. 
		<br>
		No entanto, buscamos, ainda que timidamente, obter recursos financeiros com o material produzido. 
		<br>
		Porém, o princípio-mor é transmitir 
		conhecimento no formato audiovisual, logo, o financeiro deverá se adaptar ao modelo pré-estabelecido, jamais o contrário.
		 <br>
		Se for necessário rechear as aulas com publicidade,
		provavelmente o projeto encerrará suas atividades, até porque, o princípio pétreo terá sido violado.
		 <br>
		Em 2015 nos juntamos com o blog Java Aberto, e agora somos um só, transmitindo todo o conhecimento de maneira simples
		e dinâmica.
		
		<br><br>
		<h1>Time</h1>
		<hr>
		 Hoje somos um time, integrado por:
		 <br>
		 <br>
		 Fundadores
		 <br>
		 <ul>
			 <li>Claúdio Carvalho</li>
			 <li>Charleston Anjos</li>
		 </ul> 
		 
		 Colaboradores
		 <br>
		 <ul>
			 <li>Victor Seixas</li>
			 <li>Nicollas Silva</li>
		 </ul> 
 
        </div>
    </div>
</div>
-->