<div class="container">
    <div class="row-fluid">
        <div class="span6"> 
            <p class="copyright"> 
                <strong>{{ contentFooter.project }}</strong> &copy; {{ contentFooter.description }}
            </p>
        </div>
        <div class="span6">   <div class="pagination pull-right">
                <ul>
                    <li>
                        <a data-rel="tooltip" data-placement="top" title="{{ contentFooter.link_facebook_title }}" 
                        href="{{ contentFooter.link_facebook }}" target="_blank">
                            <i class="icon-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a data-rel="tooltip" data-placement="top" title="Encontre-nos no YouTube" 
                        href="{{ contentFooter.link_gmore }}">
                            <i class="icon-google-plus"></i>
                        </a>
                    </li>          
                </ul>
            </div>
        </div>
    </div>
</div>