
<!-- Start Right Section -->
<div id="side-section" class="span3">
    <ul class="nav nav-list">
        <li class="nav-header">
            Filtrar por
        </li>
        <li class="active">
            <a href="#">
                <i class="icon-coffee"></i>
                Artigos
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-desktop"></i> 
                Vídeos

            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-star"></i> 
                Melhor Recomendação
            </a>
        </li>
        <li>
            <a href="#">
                <i class="icon-heart"></i> 
                Mais Populares
            </a>
        </li>
    </ul>



    <div class="module-top">
        <i class="icon-comments"></i> 
        Resultados   
    </div>

    <div class="module">
        <ul class="comment-list">
            <li class="comment">         
                <div class="comment-body">
                    <h4 class="comment-heading">
                        Tipo 
                        <span class="time"> Vídeos</span>
                    </h4>
                </div>
            </li>
            <li class="comment">         
                <div class="comment-body">
                    <h4 class="comment-heading">
                        Recomendação 
                        <span class="time"> -</span>
                    </h4>
                </div>
            </li>
            <li class="comment">         
                <div class="comment-body">
                    <h4 class="comment-heading">
                        Mais Populares 
                        <span class="time"> -</span>
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>