<div class="container main">
        <div class="row-fluid" >
            <div class="main-section span12">
                <div class="row-fluid">
        
                    <h3>Admin Dashboard</h3>                    
                    <hr>
                   
                    <div class="span1">
                        <center>
                            <div class="row">
                                <a href="">
                                    <img src="assets/img/icons/black/xhdpi/ic_action_book.png" >
                                </a>
                            </div>
                            <div class="row">
                                    Artigos
                            </div>
                         </center>
                    </div>
                    
                    <div class="span1">
                        <center>
                            <div class="row">
                                <a href="admin/video">
                                    <img src="assets/img/icons/black/xhdpi/ic_action_movie.png" >
                                </a>
                            </div>
                            <div class="row">
                                    Vídeos
                            </div>
                         </center>
                    </div>
                    
                    <div class="span1">
                        <center>
                            <div class="row">
                                <a href="admin/channel">
                                    <img src="assets/img/icons/black/xhdpi/ic_action_tv.png" >
                                </a>
                            </div>
                            <div class="row">
                                    Canais
                            </div>
                         </center>
                    </div>
                    
                    <div class="span1">
                        <center>
                            <div class="row">
                                <a href="admin/parameter">
                                    <img src="assets/img/icons/black/xhdpi/ic_action_tag.png" >
                                </a>
                            </div>
                            <div class="row">
                                    Parâmetros
                            </div>
                         </center>
                    </div>
                    
                    <div class="span1">
                        <center>
                            <div class="row">
                                <a href="admin/image">
                                    <img src="assets/img/icons/black/xhdpi/ic_action_picture.png" >
                                </a>
                            </div>
                            <div class="row">
                                    Repositório de Imagens
                            </div>
                         </center>
                    </div>
                    
                    <div class="span1">
                        <center>
                            <div class="row">
                                <a href="admin/image/upload">
                                    <img src="assets/img/icons/black/xhdpi/ic_action_upload.png" >
                                </a>
                            </div>
                            <div class="row">
                                    Upload
                            </div>
                         </center>
                    </div>
                    
		
            </div>
        </div>
    </div>
</div>