<div class="container main" ng-init="init()">
    <div class="row-fluid" >
        <div class="main-section span12">
           
           
           <excript-file index="0"></excript-file>      
           
           <button ng-click="upload()">Upload</button>    
                      
                  
      <!--
            <script type="text/ng-template" id="myModalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Center Image</h3>
                </div>
                <div class="modal-body">                       
                    <div ng-include="'lib/php/image/files.php'"></div>              
                    Selected: <b>{{ selected.item }}</b>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
                </div>
            </script>

            <button class="btn btn-default" ng-click="open()">Open me!</button>
            <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
            <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
            <button class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
            
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>              
     -->
        </div>
    </div>
</div>