<div class="main-section span2 pull-right">
    <div class="row-fluid">
        <div class="bs-docs-example">
            <div class="label-e">
                <i class="icon-coffee"></i> 
                Autor
            </div>
            <a href="#"><img src="assets/img/author-example.jpg" title="Ver Perfil"></a>
            <div class="caption">
                <h6>
                    {{ contentAuthor.name }}
                </h6>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <br>
                <i>
                    {{ contentAuthor.totalArticle }} Artigos<br>
                    {{ contentAuthor.totalVideo }} Vídeos <br>
                    {{ contentAuthor.classification }}
                </i> 
                <br>
                <a href="#"><i class="icon-certificate"></i> Recomendar</a>
            </div>
        </div>
    </div>
</div>