<div class="bs-docs-example tooltip-demo">
    <div class="label-e">Comment List</div>

    <ul class="comment-list">
        <li class="comment">
            <a class="pull-left" href="#">
                <img class="comment-object img-rounded" data-src="holder.js/64x64" alt="64x64" style="width: 40px; height: 40px;" src="assets/img/e-6.jpg">
            </a>
            <div class="comment-body">
                <h4 class="comment-heading">Media heading</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
        </li>
        <li class="comment">
            <a class="pull-left" href="#">
                <img class="comment-object img-rounded" data-src="holder.js/64x64" alt="64x64" style="width: 40px; height: 40px;" src="assets/img/e-6.jpg">
            </a>
            <div class="comment-body">
                <h4 class="comment-heading">Media heading</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
        </li>
        <li class="comment">
            <a class="pull-left" href="#">
                <img class="comment-object img-rounded" data-src="holder.js/64x64" alt="64x64" style="width: 40px; height: 40px;" src="assets/img/e-6.jpg">
            </a>
            <div class="comment-body">
                <h4 class="comment-heading">Media heading</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
        </li>
        <li class="comment">
            <a class="pull-left" href="#">
                <img class="comment-object img-rounded" data-src="holder.js/64x64" alt="64x64" style="width: 40px; height: 40px;" src="assets/img/e-6.jpg">
            </a>
            <div class="comment-body">
                <h4 class="comment-heading">Media heading</h4>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
            </div>
        </li>
    </ul>
    
    <center>
        <a href="" class="comment-heading">
            <i class="icon-comment"></i>
            Ver Mais
        </a>
    </center>

</div>
