
<div class="container main" n>
    <div class="row-fluid" >
        <div class="main-section span12">
<aside>
    <div id="info-unit"> 
        <div class="alert alert-block alert-info fade in">
            <header>
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4 class="alert-heading">
                    Semana de Inauguração do Portal Excript
                </h4>
            </header>

            <section>
                <p>
                    Agora temos um portal :D Hoje temos apenas uma área para vídeos, mas logo logo vem mais coisas pra galera..
                    <br>
                    Vamos incluir uma área de Artigos e Fórum bem breve.
                    <br>
                    Sejam Bem-Vindos, aproveitem o máximo !! Abaixo você pode dar um feedback do nosso trabalho.
                </p>

                <p>
                    <a class="btn btn-primary" href="#">Gostei</a> 
                    <a class="btn btn-success" href="#">Não Gostei</a>
                </p>
            </section>
        </div>
    </div>
</aside>

 </div>
    </div>
    </div>